{% extends "base.html" %}
{% block description %}Naslov: {{ article.title }}; Datum: {{ article.date|strftime('%Y-%m-%d') }};{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}

<div class='fb-like' data-href='{{ SITEURL }}/{{ article.url }}' data-send='true' data-width='450' data-show-faces='true'></div>
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		Objavljeno: <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{article.date|strftime('%Y-%m-%d')}}</time>
	</div>
	<div itemprop="articleBody" class="article-body">
		{% if article.image %}
			<img src="{{ SITEURL }}/{{ article.image }}" alt="{{ article.title }}" />
		{% endif %}
		{{ article.content }}
	</div>
</div>
{% endblock %}
